<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika file yang diminta tidak ada secara fisik, lempar ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
